.custom-modal {
    .modal-content {
        border: none;
        border-radius: 10px;
        box-shadow: 0px 20px 0px 20px rgba(0, 0, 0, 0.2);
    }
    .modal-header {
        border: 2px solid black; /* Viền đen */
        border-radius: 10px;
        background-color: white; /* Màu nền trắng của header */
        color: black; /* Màu chữ */
        display: flex; /* Sử dụng flexbox */
        justify-content: center !important; /* Căn phần tử trong header theo chiều ngang */
        align-items: center; /* Căn phần tử trong header theo chiều dọc */
        padding: 10px 60px 10px 30px !important;
        font-family: 'Roboto', sans-serif; /* Sử dụng font Roboto */
        font-weight: 600; /* Độ đậm của font */
    }
    .custom-title {
        background-color: #ffffff; /* Màu nền */
        color: #252323; /* Màu chữ */
        border-radius: 10px;
        padding: 10px 30px 10px 70px !important;
        align-content: center;
        font-family: Arial, sans-serif; /* Phông chữ */
        font-size: 25px !important;
        text-align: center; /* Căn giữa */
    }

    .modal-body {
        padding: 30px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .error {
        color: red;
        margin-bottom: 10px;
    }

    .button-group {
        display: flex;
        justify-content: space-between;
        align-items: center; /* Canh các phần tử theo trục dọc */
        margin-top: 20px; /* Khoảng cách từ nút đến phần nội dung */
    }

    .button-group button {
        flex: 1; /* Mỗi button chiếm 50% width */
        margin-right: 10px; /* Khoảng cách giữa các button */
        padding: 10px; /* Thêm padding cho các button */
        border: 2px solid black; /* Viền đen */
        background-color: white; /* Màu nền trắng */
        color: black; /* Màu chữ */
        cursor: pointer; /* Chuyển đổi con trỏ khi di chuột qua nút */
        transition: all 0.3s; /* Thêm hiệu ứng transition */
    }

    .button-group button:last-child {
        margin-right: 0; /* Không có margin cho button cuối cùng */
    }
}


.button-group button:hover {
    background-color: #333030; /* Màu nền xám nhạt khi hover */
    color: rgba(218, 218, 218, 0.99); /* Màu chữ đen khi hover */
}

.button-group button:last-child:hover {
    background-color: #333030; /* Màu nền xám nhạt khi hover */
}

.button-group button:active {
    transform: translateY(2px); /* Hiệu ứng nhấn nút xuống 2px */
}
/* Import font từ Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.button-group button {
    transition: all 0.3s; /* Thêm hiệu ứng transition */
    font-family: 'Roboto', sans-serif; /* Sử dụng font Roboto */
    font-weight: 500; /* Độ đậm của font */
}


/* ModalChangePassword.css */
.modal-content {
    background-color: #f8f9fa; /* Màu nền của modal */
    border: 1px solid #ced4da; /* Viền của modal */
    border-radius: 10px; /* Bo góc của modal */
}

.modal-header {
    border-bottom: none; /* Loại bỏ đường viền dưới của header */
}

.modal-title {
    font-size: 1.23rem !important; /* Kích thước tiêu đề */
    font-weight: bold; /* Độ đậm của tiêu đề */
    color: #343a40; /* Màu của tiêu đề */
}

.modal-body {
    padding: 20px; /* Khoảng cách nội dung với viền modal */
}

.modal-footer {
    border-top: none; /* Loại bỏ đường viền trên của footer */
}

button.close {
    outline: none; /* Loại bỏ viền khi nút đóng được focus */
}

.button {
    font-size: 1rem; /* Kích thước của nút */
    font-weight: bold; /* Độ đậm của chữ trên nút */
}

.btn-success {
    background-color: #28a745; /* Màu nền của nút thành công */
    border-color: #28a745; /* Màu viền của nút thành công */
}

.btn-success:hover {
    background-color: #218838; /* Màu nền của nút khi hover */
    border-color: #1e7e34; /* Màu viền của nút khi hover */
    color: #fff; /* Màu chữ của nút khi hover */
}


