.col-6-content {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.col-6-content p {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

ol {
    overflow-x: auto;
}
